:root {
    --text-color: #38343D;
    --logout-color: #AA2222;
    --namecard-color: #797085;
    --background-color: linear-gradient(107.54deg, #935FD3 0%, #9245F1 100%);
    --border-card: 1px solid #F4EFFA;
    --background-card-color: #FDFCFE;
  }

body * {
    font-family: 'Heebo', sans-serif;;

}

body {
    background-color: purple;
    padding-top: 97px;
}


#user img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    
}


#container {
    background-color: var(--background-card-color);
    width: 375px;
    height: 584px;
    border: 1px solid red;
    padding: 24px 24px 16px;

    
    
    border: var(--border-card);
    border-radius: 12px;

    
    font-style: normal;
    font-weight: 400;

}

#options li {
    
color:var(--text-color);
font-weight: 400;
align-items: center;

}

#options ul {
    
    color: var(--namecard-color);
    font-weight: 400;
    align-items: center;
}


#user {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
border: 2px solid ;



    
}

#user p {


}

#acount {
    

}
#acount i {

}

#preferences {

}

#privacy {

}

#other {

}

#options {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
    

}





