:root {
    --text-color: #38343D;
    --logout-color: #AA2222;
    --namecard-color: #797085;
    --background-color: linear-gradient(107.54deg, #935FD3 0%, #9245F1 100%);
    --border-card: 1px solid #F4EFFA;
    --background-card-color: #FDFCFE;
  }

body * {
    font-family: 'Heebo', sans-serif;;

}

body {
    background-color: var(--background-color);
}


#user img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

#container * {
    background-position: top center;
    margin:auto;
    width: 375px;
    height: 584px;
    border: 1px solid red;
    background-color: var(--background-color);
    border-color: var(--border-card);
}




